@model IEnumerable<LibraryCatalog.Models.Shelf>

@{
    ViewData["Title"] = "Shelves";
}

<h1>מדפים</h1>

<table class="table">
    <thead>
        <tr>           
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                    @Html.ActionLink("הוסף ספר במדף זה", "Creatabook", new { id = item.Id }) |
                    @Html.ActionLink("הוסף סט ספרים במדף זה", "CreataNumber", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
